* {
    box-sizing: border-box;
}

.titulo {
    height: 100px;
}

.titulo h1 {
    color: rgb(236, 196, 122);
}

.titulo.abajo {
    height: 50px;
    background-color: rgb(75, 90, 221);
    list-style-type: none;
}

.titulo.abajo a {
    color: white;
}

.titulo.abajo li {
    margin-top: 10px;
    display: inline-block;
}

.main-left {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 0%;
  }

.main-left.top {
    position: relative;
    top: 10px;
    border: 1px solid black;
    background-color: rgba(240, 248, 255, 0.726);
    width: 20%;
    height: 300px;
}

.main-left p {
    color: gray;

}

.main-left.bottom {
    position: relative;
    background-color: rgba(247, 165, 58, 0.842);
    border: 1px solid red;
    border-style: dotted;
    border-width: 5px;
    top: 20px;
    width: 20%;
    height: 200px;
}

.main-center {
    width: 78%;
    height: 500px;
    position: relative;
    float: left;
    border: 3px solid black;
}