td:hover {
    background-color: white;
    color: black;
    border: black;
}

#alcalinos {
    background-color: rgb(255, 95, 46);
}

#alcalinoterreos {
    background-color: rgb(247, 223, 115);
}

#lantanidos {
    background-color: rgb(252, 176, 229);
}

#lan {
    background-color: white;
    color: rgb(252, 176, 229);
}

#actinidos {
    background-color: rgb(216, 98, 133);
}

#act {
    background-color: white;
    color: rgb(216, 98, 133);
}

#metales_transicion {
    background-color: rgb(144, 255, 177);
}

#metales_bloque {
    background-color: rgb(247, 177, 72);
}

#metaloides {
    background-color: rgb(202, 98, 216);
}

#no_metales {
    background-color: rgb(112, 241, 80);
}

#halogenos {
    background-color: rgb(252, 235, 0);
}

#gases {
    background-color: rgb(98, 216, 216);
}

/* th:hover {
    background-color: rgb(255, 255, 255);
    color: black;
} */

#table2 th {
    color: blue;
}

